@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar {
    @apply container mx-auto px-4 py-2 flex justify-between items-center;
  }
  .nav-item-btn {
    @apply text-gray-700 hover:text-gray-900 mx-2 hover:bg-gray-200;
  }
}
